doctype html
head
  meta(charset='UTF-8')
  title Abrechnungsrechner
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  
h1 Abrechnungsrechner
| Add people: 
input#name(type='text')
button(onclick='addRow()') +
button(onclick='equalAmounts();') Equal Amounts
button(onclick='clearRows();') Clear
p#rows
button(onclick='rechne();') Rechne!
p#answer
p Enter ID to add data to existing DB file. If no ID is specified a new DB file will be created and you will be given it's ID.:
input#enterID
button(onclick='saveData();') Save to DB
p#saveResponse
p Enter ID to get data from existing DB:
input#dataID
button(onclick='getData();') Get Data
p#getResponse
script(src="/js/makeTable.js")
script(src="/js/calcDebts.js")
script(src="/js/handleData.js")
